<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">

        {% stylesheets 'bundles/applicationnotepad/css/style.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="navbar navbar-fixed-top header">
            <div class="col-md-12">
                <div class="navbar-header">
                    <a href="{{ path('home') }}" class="navbar-brand">Notepad</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse1">
                    <form class="navbar-form pull-left">
                        <div class="input-group" style="max-width:470px;">
                            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                            <div class="input-group-btn">
                                <button class="btn btn-default btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('home') }}">Главная</a></li>
                        <li><a href="{{ path('notes') }}">Записи</a></li>
                        
                        <li><a href="#loginModal" role="button" data-toggle="modal">Вход</a></li>
                        <li><a href="#aboutModal" role="button" data-toggle="modal">Инфо</a></li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-bell"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><span class="badge pull-right">0</span>Link</a></li>
                                <li><a href="#"><span class="label label-info pull-right">1</span>Link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>	
            </div>	
        </div>
        <!--main-->
        <div class="container" id="main" style="margin-top: 45px;">
            {% block content %}
            {% endblock %}
        </div>


        {% import "ApplicationNotepadBundle:macro:modal.html.twig" as modal %}
        {{ modal.about }}
        {{ modal.login }}


        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

        <script type='text/javascript'>

            $(document).ready(function() {



            });

        </script>


    </body>
</html>